<header>
  <h1>
    <a href="{{head_commit.url}}">{{head_commit.message}}</a>
  </h1>
  <p>in <a href="{{repository.url}}" target="_blank">{{ repository.name }}</a></p>
  <time>{{head_commit.timestamp}}</time>
  <a href="#" class="icon-remove"></a>
</header>
<div class="detail">
{{#with head_commit}}
  <dl>
    <dt>blame:
    <dd>{{author.username}}
  </dl>
  <a href="{{url}}" target="_blank">Details</a>
{{/with}}
</div>
