<h1><a href="{{repository.url}}" target="_blank">{{ repository.name }}</a></h1>
{{#with head_commit}}
  {{author.username}}
  {{timestamp}}
  <a href="{{url}}" target="_blank">view</a>
  <p>{{message}}</p>
{{/with}}
